

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.create-wrapper {
  position: fixed;          
  top: 70px;               
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 9999;            
  padding: 40px 60px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}


.border-right {
  border-right: 1px solid #e6e6e6;
  padding-right: 60px;
}

.main-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 40px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.circle-icon {
  width: 36px;
  height: 36px;
  background: #f3d6fb;
  color: #b000ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

ul {
  list-style: none;
}

li {
  font-size: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.see-all {
  color: #b000ff;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

h2:hover,
h3:hover,
p:hover,
li:hover,
.see-all:hover {
  color: #b000ff;
}
