.developer-wrapper{
    position: fixed;
    top:7%;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 60%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6); 
    
}
.developer-header{
  max-width:1000px;
  margin:auto;
  padding:40px 0px 60px;

}
.developer-header h3{
    font-size: 24px;
    font-weight: 600;
    color: black;
    line-height: 32px;
}

.developer-header p{
    font-weight: 500;
    color: black;
    line-height: 20px;
    font-size: 14px;

}
.grid1 cir-icon{
    display: flex;
    left:20px;
}
.cir-icon svg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: plum;
    color: purple;
}


.grid1 p{
  gap: 20px;
margin: 20px;  
}

.dev-grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);
margin-top: 50px;

    

}
.grid1 h4{
     font-weight: 600;
    color: black;
    line-height: 24px;
    font-size: 16px;
}

.grid1 p{
     font-weight: 500;
    color: black;
    line-height: 20px;
    font-size: 14px;
}
p:hover{
    color:rgb(194,9,193);
}
.see-all{
    color:rgb(194,9,193) ;
     font-weight: 600;
    line-height: 20px;
    font-size: 14px;

}
.img-box{
    width: 80%;
    height: auto;
    background-color: rgba(233, 232, 232, 0.84);
 align-items: center;
    justify-content: center;

}
.img-box img{
    width: 70%;
   
    height: auto;
}

.img-box:hover{
    border: 2px solid rgb(255, 240, 240);
    margin: 20px;
}
