@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


.solutions-wrapper{
  position:fixed;
  top:80px;        
  left:0;
  width:100%;
  background:white;
  z-index:9999;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

.solutions-container{
  max-width:1300px;
  margin:auto;
  padding:40px 50px 60px;
}

.solutions-header h1{
  font-size:36px;
  font-weight:700;
}

.solutions-header p{
  margin-top:8px;
  color:#666;
}

.solutions-grid{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:40px;
  margin-top:50px;
}

.col h3{
  margin-bottom:18px;
  font-size:18px;
}

.col p{
  line-height:34px;
  color:#222;
  cursor:pointer;
}

.col p:hover{
  color:#b100b7;
}

.see{
  display:inline-block;
  margin-top:15px;
  color:#b100b7;
  font-weight:600;
  cursor:pointer;
}

.promo{
  background:#f5f5f5;
  border-radius:16px;
  padding:20px;
}

.promo img{
  width:100%;
  border-radius:12px;
  align-items: center;
  justify-content: center;
  
}

.promo:hover{
    border: 2px solid rgb(255, 241, 241);
    margin: 10px;
}

.promo p{
  margin-top:15px;
  font-weight:600;
}
