.startmenu {
  width: 720px;
  padding: 20px;
  background: #fff;
  border-radius: 14px;
  align-items:center;
  justify-content:center;
  left:30%;
  position:absolute;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.start-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.piscart-start-btn{
  display:flex;
  gap:20px;
margin-bottom:20px;
}

.piscard-link-block{
margin:20px;
align-items:center;
justify-content:center;
margin-top:60px;
}
.piscard-link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.piscard-link li{
  margin-bottom:20px;
}

.auth-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.25s ease;
}

.auth-btn svg {
  width: 20px;
  height: 20px;
}

/* Button colors */
.google {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.apple {
  background: #000;
  color: #fff;
}

.facebook {
  background: #1877f2;
  color: #fff;
}

.twitter {
  background: #1da1f2;
  color: #fff;
}

/* Hover */
.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.start-btn-descri {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

.start-img {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

