
.article-cards{
    display: flex;
}

.paragraph {
    display: block;
    margin: 100px;
    width:60%;
}


.paragraph span{
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    
}

.paragraph p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: black;
}

.explore{
    display: inline-block;
    width: 12vw;
    color: white;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    padding: 13px;
    z-index: 5;
    border: rgb(194, 9, 193);
    border-radius: 25px;
    background-color: rgb(194, 9, 193);
}

.side-img{
    float:right;
}

.side-img img{
    width:40vw;
        margin-top:130px ;
        margin-right: 100px;
border-radius: 20px;

}

.side-img2{
    float:right;
}

.side-img2 img{
    width:40vw;
        margin-top:130px ;
        margin-left: 100px;
border-radius: 20px;

}
@media (max-width: 800px) {

  .article-cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .paragraph {
    width: 90%;
    margin: 30px 15px;
  }

  .paragraph span {
    font-size: 32px;
    line-height: 40px;
  }

  .paragraph p {
    font-size: 16px;
    line-height: 24px;
  }

  .explore {
    width: auto;
    padding: 12px 20px;
    margin-top: 25px;
  }

  .side-img img,
  .side-img2 img {
    width: 90%;
    margin: 20px 0;
  }

  .side-img,
  .side-img2 {
    float: none;
  }
}



