@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


.container {
  text-align: center;
  padding: 40px 0;
}

.heading {
  margin-top:10px;
  font-size: 60px;
  font-weight: 600;
 
}


.gradient-text {
  background: linear-gradient(180deg, #4411fd, #b52bff, #e70aff);
  -webkit-background-clip: text;
  color: transparent;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

}
.slider {
  width: 950px;
  overflow: hidden;
    
}

.track {
  display: flex;
  flex-direction: row;
  transition: transform 0.4s ease;
 
}

.block-card {
  width: 210px;
  height: 200px;              
  margin: 0 12px;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 12px 30px;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.card-text {
  margin-top: auto;          
  height: 60px;               
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card img {
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 12px;
}

.card h4 {
  font-size: 16px;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 4px 0 0;
}


.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(231, 161, 254, 0.897);
}

.arrow {
  font-size: 32px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}
