
.blue-box{
    display: flex;
    width:90%;
    border-radius: 20px;
height: 70vh;
margin: 50px;

  background: linear-gradient(100deg, #f7fcff, #a3c9f7, #0459a8);

}

.text{
    margin:70px 30px;
}

.text span{
     font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    
}

.text p{
    width: 50%;
        font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: black;
}
.mobile-img{
    width: 50%;
    height: auto;
}

.mobile-img img{
 width: 33vw;
 margin: 50px 20px;
}

.start-btn{
     display: inline-block;
    width: 12vw;
    height:50px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    padding: 13px;
    z-index: 5;
    border: rgb(194, 9, 193);
    border-radius: 25px;
    background-color: rgb(194, 9, 193);
}

.line{
    font-weight: 400;
    margin: 20px;
}
.icon{
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
left: 0;
}

/* MOBILE STYLES */
@media (max-width: 768px) {

  .blue-box {
    flex-direction: column; 
    height: auto; 
    margin: 20px auto;
    width: 95%;
    padding: 20px 10px;
  }

  .text {
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }

  .text span {
    font-size: 32px;
    line-height: 40px;
    display: block;
    margin-bottom: 15px;
  }

  .text p {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
  }

  .mobile-img {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .mobile-img img {
    width: 70%; 
    max-width: 250px;
  }

  .start-btn {
    width: 80%;
    margin: 20px auto;
    display: block;
    font-size: 16px;
    padding: 12px 0;
  }

  .line {
    font-size: 14px;
    text-align: center;
  }


}
