.price {
    width: 100%;
    height: 800px;
    margin-bottom: 0%;
    align-items: center;
    justify-content: center;

}

.price-card {
    margin: 20px 10px;
}
.ticket{
    display: flex;
width: 100%;
justify-content: center;
}
.token {
    display: flex;
    margin: 10px;
}

.word {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 150px;
    color: rgb(76, 76, 76);


}

.text {
    margin-left: 20px;
    margin-bottom: 10px;

}

.box {
    width: 430px;
    height: 500px;

    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(120, 119, 119, 0.514);
}

.get-start {
    display: inline-block;
    width: 22vw;
    color: black;
    background-color: white;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 20px;
    padding: 13px;
    z-index: 5;
    border: 2px solid rgb(85, 84, 84);
    border-radius: 25px;

}

.box hr {
    width: 320px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    color: rgb(98, 98, 98);
}

.free {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.free img{
    margin-top: 10px;
}

.box h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px;
    color: black;
    line-height: 72px;
}

.comment {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 18px;
}

.comment span {
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 28px;

}

.comment p {

    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 24px;
    margin: 2% 10%;
}

@media (max-width: 800px){


}