@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.toolkit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  
}

.toolkit h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

.toolkit p {
  font-size: 18px;
  color: #555;
  margin-bottom: 50px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.tool-card {
  height: 150px;
  border-radius: 18px;
  background: #e0e0e067;
  border: 1px solid #e5e5e5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.35s ease;
}
.tool-card .tool-img{
  width:40px;
  height:40px;
}
.tool-card:hover {
  background: linear-gradient(
    185deg,
    #5b2cff 0%,
    #b52bff 40%,
    #ff5eef 100%
  );

  transform: translateY(-8px);
  border-color: transparent;

  box-shadow:
    0 10px 30px rgba(91, 44, 255, 0.35),
    0 18px 55px rgba(214, 0, 255, 0.3);
}

.icon-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 18px;
  transition: all 0.35s ease;
}

.icon-circle svg {
  stroke: #111;
}


.tool-card h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
  transition: color 0.3s ease;
}

.tool-card:hover h4 {
  color: #fff;
}

@media (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
